<nav class="navegador">
        <a href="/">
           <h1>Celestial Blink</h1>        
        </a>
    <div id="mi_menu" class="mi_menu">
        <h1>Celestial Blink</h1>
        <div>
            <a href="/">Inicio</a>
            <a href="/artistas">Artista</a>
            <a href="/generos">Genero</a>
            <a href="/noticias">noticias</a>
            <a href="/contacto">Contacto</a>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ab eius sed quo fugiat exercitationem?</p>
    </div>
    <div class="btn-menu">
        <a href="#" id="btn-menu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</nav>