<div class="follow-me">
    <ul>
        <li>
            <a href="#social-facebook">
                <i class="fa fa-facebook-official" aria-hidden="true"></i> celestial{blink}
            </a>
        </li>
        <li>
            <a href="#social-twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i> celestial{blink}
            </a>
        </li>
        <li>
            <a href="#social-instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i> celestial{blink}
            </a>
        </li>
    </ul>
</div>