<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<div class="fl-wrapper">
    <div class="container">
        <form class="log-in" id="form-login" form-name="form-login">
            <h3 id="m-login">Lorem ipsum dolor sit amet.</h3>
            <input type="text" name="name" placeholder="ingrese usuario">
            <span class="p">
                <input type="password" name="pass" placeholder="ingrese su contraseña">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </span>
            <input type="submit" value="ingresar">
            <span class="m-btn">
                <a href="#registrar">registrarse</a>
                <a href="#f-forget-pass">olvide mi contraseña</a>
            </span>
        </form>

        <form action="" class="registration" id="registrar" form-name="form-registration">
            <h3 id="m-registration">Lorem ipsum dolor sit amet.</h3>
            <input type="text" name="name" placeholder="ingrese usuario">
            <span class="p">
                <input type="password" name="pass" placeholder="ingrese contraseña">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </span>
            <span class="p">
                <input type="password" name="repeat" placeholder="repita contraseña">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </span>
            <input type="text" name="fullname" placeholder="nombre completo">
            <input type="email" name="email" placeholder="correo">
            <input type="submit" value="registrarse">
            <span class="m-btn">
                <a href="#">atrás</a>
            </span>
        </form>

        <form action="" class="f-forget-pass" id="f-forget-pass" form-name="form-forget">
            <input type="text" name="name" placeholder="ingrese usuario">
            <h4 id="fp-message">Lorem, ipsum.</h4>
            <input type="text" name="code" id="code" placeholder="escriba aquí su código">
            <div id="new-password">
                <input type="password" name="pass" placeholder="nueva contraseña" >
                <input type="password" name="repeat" placeholder="repita la contraseña" >
            </div>
            <input type="submit" value="siguiente" id="btn-forget-pass">
            <span class="m-btn">
                <a href="#">atrás</a>
            </span>
        </form>

    </div>
</div>