<div class="hs-wrapper">
    <h1>Celestial<strong> blink</strong></h1>
    <div class="user">
        <p>Lorem, ipsum dolor.</p>
        <a href="#close">cerrar session</a>
        <span></span>
    </div>
</div>