<div class="hs-wrapper">
    <h1>Celestial<strong> blink</strong></h1>
    <div class="user">
        <p>{{user.name}}</p>
        <a href="#close">cerrar session</a>
        <span></span>
    </div>
</div>
<script src="/javascripts/sistema/Header.js"></script>