<div class="sm-wrapper">
    <nav class="menu" id="menu-buttons">
        <h2>Celestial blink</h2>
        <a href="?view=artistas">Artistas</a>
        <a href="?view=albumes">Albumes</a>
        <a href="?view=noticias">Noticias</a>
        <a href="?view=perfil">Mi perfil</a>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, repellendus reprehenderit non suscipit dicta
            quibusdam?
        </p>
    </nav>
</div>
<script src="/javascripts/sistema/menu.js"></script>