<div class="con-wrapper">
    {{!-- <img src="https://dl.dropbox.com/s/40qc9abgupkjzte/BIOGRAPHY%20_%20BAND-MAID%20Official%20Web%20Site.png?dl=0" alt="img"> --}}
    <div class="container">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A possimus nam, omnis, dolor ea vel, nihil obcaecati
            architecto sint assumenda culpa tempora qui neque at vero excepturi officiis asperiores repellendus.
        </p>
    </div>
</div>