<div class="co-wrapper">
    <img src="https://dl.dropbox.com/s/40qc9abgupkjzte/BIOGRAPHY%20_%20BAND-MAID%20Official%20Web%20Site.png?dl=0" alt="">
    <form action="" class="co-form">
        <h2>lorem input</h2>
        <input type="mail" placeholder="Ingrese E-mail">
        <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje..."></textarea>
        <input type="submit" value="enviar">
    </form>
</div>