<div class="CoverPage">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quae saepe nulla inventore ipsum! Quas
        voluptates sit tempore quidem! Delectus dolorum placeat odit fuga cum. Nam modi odit similique itaque!</p>
</div>