<div class="ar-wrapper">
    <img src="/images/fondo.png" alt="">
    <div class="ar-container">
        <div class="container" id="cont-artist">
            {{!-- <div class="group-artist">
                <h2>A</h2>
                <ul>
                    <a><li>ancient myth</li></a>
                    <a><li>aldious</li></a>
                    <a><li>aldious</li></a>
                    <a><li>ancient myth</li></a>
                    <a><li>aldious</li></a>
                </ul>
            </div>
            <div class="group-artist">
                <h2>A</h2>
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
            <div class="group-artist">
                <h2>A</h2>
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
            <div class="group-artist">
                <h2>A</h2>
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div> --}}
        </div>
    </div>
</div>
<script src="/javascripts/ListArtist.js"></script>