<div class="ge-wrapper">
    <img src="/images/fondotwo.jpg" alt="">
    <div class="ge-container">
        <div class="container">
            <div class="group-genres">
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
            <div class="group-genres">
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
            <div class="group-genres">
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
            <div class="group-genres">
                <ul>
                    <li>ancient myth</li>
                    <li>aldious</li>
                    <li>aldious</li>
                    <li>ancient myth</li>
                    <li>aldious</li>
                </ul>
            </div>
        </div>
    </div>
</div>