<head>
    <link rel="stylesheet" href="/stylesheets/Loader.css">
</head>
<div class="loader-wrapper" id="loader-wrapper">
            <div class="loader anima"></div>
            <div class="shadow anima"></div>
            <h1 id="mi-respuesta">espere...</h1> 
</div>
<script src="/javascripts/Loader.js"></script>