<nav class="NewAlbums">
    <div class="TopCard" style="--i:1">
        <span class="p_img" id="p_img">
            <p>Loading...</p>
        </span>
        <a href="#">
            <h1 id="p_title">Lorem, ipsum dolor.</h1>
        </a>
    </div>

    <div class="TopCard" style="--i:2">
        <span class="p_img" id="p_img">
            <p>Loading...</p>
        </span>
        <a href="#">
            <h1 id="p_title">Lorem, ipsum dolor.</h1>
        </a>
    </div>

    <div class="TopCard" style="--i:3">
        <span class="p_img" id="p_img">
            <p>Loading...</p>
        </span>
        <a href="#">
            <h1 id="p_title">Lorem, ipsum dolor.</h1>
        </a>
    </div>

    <div class="TopCard" style="--i:4">
        <span class="p_img" id="p_img">
            <p>Loading...</p>
        </span>
        <a href="#">
           <h1 id="p_title">Lorem, ipsum dolor.</h1>
        </a>
    </div>

    <div class="TopCard" style="--i:4">
        <span class="p_img" id="p_img">
            <p>Loading...</p>
        </span>
        <a href="#">
            <h1 id="p_title">Lorem, ipsum dolor.</h1>
        </a>
    </div>

</nav>