<div class="news-wrapper">

    {{#if index}}
    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>
    
    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>

    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>

    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>

    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>

    {{/if}}
</div>