<div class="news-wrapper">
    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
            <img src="https://dl.dropbox.com/s/lqvwkc5axfwr7l2/Recurso%201%404x.png?dl=0" alt="">
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>
    
    <div class="news">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <span class="n-img">
            <p>loading...</p>
            <img src="https://dl.dropbox.com/s/lqvwkc5axfwr7l2/Recurso%201%404x.png?dl=0" alt="">
        </span>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi aspernatur expedita corporis veniam labore,
            aliquid pariatur similique asperiores fugiat. Voluptatem.</p>
        <a href="#link">ir fuente</a>
    </div>
</div>