<head>
    <link rel="stylesheet" href="/stylesheets/DiscographyBand.css">
    <link rel="stylesheet" href="/stylesheets/c_navegador.css"/>
    <link rel="stylesheet" href="/stylesheets/compartir.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/stylesheets/c_piedepagina.css"/>
    <link rel="stylesheet" href="/stylesheets/Follow_me.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

{{> c_navegador}}
{{> MySearch}}
{{> MyShare}}

<div class="dis-container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    {{> DiscographyBand}}
</div>

<div class="i-social">
    <h1>Lorem ipsum dolor sit amet.</h1>
    {{> Follow_me}}
</div>

<div class="i-Footer">
{{> c_piedepagina}}
</div>

    <script src="/javascripts/ChangeStyleSearch.js"></script>
    <script src="/javascripts/MyShare.js"></script>
    <script src="/javascripts/MyNavegador.js"></script>