<head>
    <link rel="stylesheet" href="/stylesheets/downloads.css">
    <link rel="stylesheet" href="/stylesheets/compartir.css">
</head>
{{> MyShare}}
<div class="dw-header">
    <h1>Celestial Blink</h1>
</div>
<div class="dw-wrapper">
    <img src="/images/fondo.png" alt="">
    <h1>Links de descargas de <strong>"{{title}}"</strong></h1>
    {{#unless links.links}}
        <h1>Aún no se subieron links de "{{title}}"</h1>
    {{/unless}}
    <ul>
        {{#each links.links}}
            <li><a href="{{this}}" target="_blank">{{this}}</a></li>
        {{/each}}
    </ul>
</div>
