<head>
    <link rel="stylesheet" href="/stylesheets/downloads.css">
    <link rel="stylesheet" href="/stylesheets/compartir.css">
</head>
{{> MyShare}}
<div class="dw-wrapper">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <ul>
        <li><a href="#mega">Lorem, ipsum. (LOREM)</a></li>
        <li><a href="#drive">Lorem, ipsum. (LOREM)</a></li>
        <li><a href="#mediafire">Lorem, ipsum. (LOREM)</a></li>
    </ul>
</div>

<script src="/javascripts/MyShare.js"></script>