<!DOCTYPE html>
<html lang="es">
  <head>
      <meta property="og:type" content="articulo" />
      <meta property="og:title" content="decargar musica aqui" />
      <meta property="og:image" content="https://dl.dropbox.com/s/ceqoinqocth2tos/3540432466_photo.jpg?dl=0"/>
      <meta property="og:description" content="Descripción de la página" />
      <meta name="author" content="Celestial Blink">
      <meta name="description" content="Si te gusta el jrock te invito a visitar mi pagina web donde puedes descargar albumes completos">
      <meta name="keywords" content="Descargas, musica, jrock, noticias">


      <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:creator" content="@Manz" />
  <meta property="twitter:title" content="Título" />
  <meta property="twitter:description" content="Descripción" />
  <meta property="twitter:image:src" content="https://dl.dropbox.com/s/ceqoinqocth2tos/3540432466_photo.jpg?dl=0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/Vars.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>