<head>
    <link rel="stylesheet" href="/stylesheets/sistema/login.css">
    <link rel="stylesheet" href="/stylesheets/c_piedepagina.css">
</head>
{{> Loader}}
<div class="lo-container">
    <h1>Acceso al sistema</h1>
    {{> FormLogin}}
</div>

<div class="i-Footer">
    {{> c_piedepagina}}
</div>

<script src="/javascripts/sistema/login.js"></script>