<head>
    {{!-- <link rel="stylesheet" href="/stylesheets/sistema/Smodal.css">
    <link rel="stylesheet" href="/stylesheets/sistema/Container.css">
    <link rel="stylesheet" href="/stylesheets/sistema/SCard.css"> --}}
    {{!-- <link rel="stylesheet" href="/stylesheets/sistema/modal-form.css"> --}}
</head>

{{!-- {{#each holis}}
    <h1>{{this}}</h1>
{{/each}}

{{#if per.exite}}
    {{#each per.person}}
        <h2>{{this}}</h2>
    {{/each}}
{{else}}
    <h2>no hay no exite</h2>
{{/if}} --}}

{{!-- {{> Smodal}}
{{> Container}} --}}

{{!-- {{> formArtist}}
<br>
{{> formAlbum}}
<br>
{{> formNews}}

{{> warningMessage}} --}}
{{!-- {{> MyShare}} --}}
{{!-- {{> formAlbum}} --}}

{{> formUser}}