<head>
    <link rel="stylesheet" href="/stylesheets/sistema/startsystem.css">
</head>

{{> Loader}}
<div class="system" id="btn-system">
    <h2>comience a configurar o reiniciar el sistema</h2>
    <a href="#alert-confirmation">comenzar</a>
    <a href="#alert-confirmation">reiniciar</a>
</div>
{{> alertConfirmation}}
<script src="/javascripts/sistema/startsystem.js"></script>
