div.co-container{
    width: 100%;
    position: relative;
}
div.co-container>h1{
    margin:10px 0px;
    margin-left: 40px;
    color: var(--color-text);
}
@media (max-width:510px){
    div.co-container{
        margin-top: 80px;
    }
    div.co-container>h1{
        margin-left: 0;
        text-align: center;
        max-width: 360px;
        display: block;
        font-size: 24px;
        min-width: 360px;
    }
}