div.frm-wrapper{
    max-width: 650px;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
}
div.frm-wrapper>span.message-reserr{
    display: inline-block;
    position: absolute;
    z-index: 1300;
    transition: all 1s;
    color: white;
    height: min-content;
    width: 300px;
    background-color: #18d617;
    margin: auto;
    left: -250%;
    top: 30px;
    border-radius: 27px;
    font-family: Verdana;
    text-align: center;
    padding: 36px 50px;
    font-size: 20px;
}
div.frm-wrapper>h1{
    color:var(--color-background-dark);
    text-align: center;
}
div.frm-wrapper>form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}
div.frm-wrapper>form>input,div.frm-wrapper>form select,div.frm-wrapper>form>textarea,div.frm-wrapper>form>span>input{
    outline: none;
    height: 35px;
    width: 100%;
    color:var(--color-text);
    font-size: 18px;
    border-color: transparent;
    border-radius: 10px;
    margin: 5px 0px;
    box-sizing: border-box;
    padding: 5px 15px;
}
div.frm-wrapper>form>textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
}
div.frm-wrapper>form>input::placeholder{
    text-align: center;
}
div.frm-wrapper>form label{
    text-align: left;
    color:var(--color-background-dark);
    display: inline-block;
    box-sizing: border-box;
    margin:0px 10px;
}
div.frm-wrapper>form>input[type="file"]{
    padding: 0px;
}
div.frm-wrapper>form>input[type="file"]::-webkit-file-upload-button {
    outline: none;
    border: 2px solid var(--color-text);
    border-radius: 8px;
    background-color: #fff;
    color:var(--color-text);
    height: 35px;
    width: 200px;
}
div.frm-wrapper>form>input[type="submit"]{
    background-color: var(--color-text);
    color:white;
}
div.frm-wrapper>form>input[type="reset"]{
    background-color: var(--color-text);
    color:white;
}
div.frm-wrapper>form>span{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
div.frm-wrapper>form>span>select{
    width: 250px;
}
div.frm-wrapper>form>span>a{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    height: 35px;
    box-sizing: border-box;
    padding:6px;
    background-color: var(--color-text);
    color:white;
    border-radius: 10px;
}
div.frm-wrapper>form>span>input{
    width: 250px;
}
h6#message-musics,h6#message-links{
    color: #01a704;
    font-size: 14px;
    transition: all 1s;
}
div.form-min-artist>form#new-artist>h4{
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    border-radius: 10px;
    text-align: center;
    display: none;
    transition: all 1s;
}
.frm-wrapper>form>span.password{
    position: relative;
    display: inline-block;
    width: 100%;
}
.frm-wrapper>form>span.password>input{
    width: 100%;
}
.frm-wrapper>form>span.password>a{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    background-color: transparent;
    color: var(--color-background-transparent);
    font-size: 25px;
    padding: 3px 0px;
}
