<head>
    <link rel="stylesheet" href="/stylesheets/sistema/alerts.css">
</head>
<div class="alr-wrapper" id="alert-confirmation">
    <h3 id="AC-message">¿desea continuar con la operación?</h3>
    <span class="AC-btn" id="btn-acept-cancel">
        <a href="#ok">aceptar</a>
        <a href="#cancel">cancelar</a>
    </span>
</div>
<script src="/javascripts/sistema/alert-confirmation.js"></script>