<head>
    <link rel="stylesheet" href="/stylesheets/sistema/modal-form.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
{{> Loader}}
<div class="frm-wrapper">
    <span class="message-reserr">Lorem, ipsum dolor.</span>
    <h1>perfil</h1>
    <form id="user" act="update">
        <input type="text" oldname="" name="name" placeholder="ingrese usuario" required>
        <span class="password">
            <input type="password" name="pass" placeholder="ingrese contraseña" required>
            <a href="#ver"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </span>
        <span class="password">
            <input type="password" name="repeat" placeholder="repita contraseña" required>
            <a href="#ver"><i class="fa fa-eye" aria-hidden="true"></i></a>
        </span>
        <input type="text" name="fullname" placeholder="ingrese nombre completo" required>
        <input type="email" name="email" placeholder="ingrese correo" required>
        <input type="submit" value="guardar">
    </form>
</div>

<script src="/javascripts/sistema/formUser.js"></script>