<head>
    <link rel="stylesheet" href="/stylesheets/sistema/min-modal.css">
</head>

<div class="minmodal-wrapper" id="min-modal">
    <div class="container">
        <a href="#open-modal">X</a>

    </div>
</div>

<script src="/javascripts/sistema/min-modal.js"></script>